html {
    --darker: #202020;
    --whiter: white;
    --offwhite: #DCDCDC;
    --offblack: #383838;
    color: var(--black);
    --module-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.2),
    0 1rem 2rem rgba(0, 0, 0, 0.2);
    /* background-color: var(--offblack); */
  }

  html, body {
    width: 100%;
    height: 100%;
  }

  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
  }

  @media (prefers-color-scheme: light) {
    html {
      background-color: royalblue;
      --white: var(--whiter);
      --black: var(--darker);
    }
    body {
        margin: 0;
        background-image: url('data:image/svg+xml,%3Csvg xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" viewBox%3D"0 0 1440 320"%3E%3Cpath fill%3D"%2387CEFA" fill-opacity%3D"1" d%3D"M0%2C96L48%2C96C96%2C96%2C192%2C96%2C288%2C122.7C384%2C149%2C480%2C203%2C576%2C213.3C672%2C224%2C768%2C192%2C864%2C181.3C960%2C171%2C1056%2C181%2C1152%2C192C1248%2C203%2C1344%2C213%2C1392%2C218.7L1440%2C224L1440%2C320L1392%2C320C1344%2C320%2C1248%2C320%2C1152%2C320C1056%2C320%2C960%2C320%2C864%2C320C768%2C320%2C672%2C320%2C576%2C320C480%2C320%2C384%2C320%2C288%2C320C192%2C320%2C96%2C320%2C48%2C320L0%2C320Z"%2F%3E%3C%2Fsvg%3E');
    }
  }
  
  @media (prefers-color-scheme: dark) {
    html {
      background-color: var(--darker);
      --white: var(--darker);
      --black: var(--whiter);
    }
    body {
      background-image: url('data:image/svg+xml,%3Csvg xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" viewBox%3D"0 0 1440 320"%3E%3Cpath fill%3D"%232F4F4F" fill-opacity%3D"1" d%3D"M0%2C96L48%2C96C96%2C96%2C192%2C96%2C288%2C122.7C384%2C149%2C480%2C203%2C576%2C213.3C672%2C224%2C768%2C192%2C864%2C181.3C960%2C171%2C1056%2C181%2C1152%2C192C1248%2C203%2C1344%2C213%2C1392%2C218.7L1440%2C224L1440%2C320L1392%2C320C1344%2C320%2C1248%2C320%2C1152%2C320C1056%2C320%2C960%2C320%2C864%2C320C768%2C320%2C672%2C320%2C576%2C320C480%2C320%2C384%2C320%2C288%2C320C192%2C320%2C96%2C320%2C48%2C320L0%2C320Z"%2F%3E%3C%2Fsvg%3E');
    }
  }